@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),
       url(../fonts/glyphicons-halflings-regular.woff) format('woff'),
       url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),
       url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-search:before { content: "\e003"; }
.glyphicon-off:before { content: "\e017"; }
.glyphicon-remove-circle:before { content: "\e088"; }
.glyphicon-refresh:before { content: "\e031"; }
.glyphicon-chevron-left:before { content: "\e079"; }
.glyphicon-chevron-right:before { content: "\e080"; }
.glyphicon-chevron-up:before { content: "\e113"; }
.glyphicon-chevron-down:before { content: "\e114"; }
.glyphicon-arrow-left:before { content: "\e091"; }
.glyphicon-trash:before { content: "\e020"; }
.glyphicon-save:before { content: "\e166"; }
.glyphicon-share:before { content: "\e066"; }
