/***********/
/* Content */
.content {
  position: fixed;
  top: 56px;
  right: 0;
  bottom: 36px;
  left: 16rem;
  overflow-y: auto;
  padding-bottom: 80px;
}

/***********/
/* Preview */
.preview .tab-content {
  overflow-y: auto;
}
